.my_info img{
width: 39px;
height: 38px;
border-radius: 50%;
}
.my_info{
    color: white;
}
.nav-item{
    font-family: 'Inter', sans-serif;
    font-weight: 700!important;
    letter-spacing: 1px;
}
.name{
    font-size: 14px;
    color: gray;
    font-family: 'Inter', sans-serif;
    font-weight: 500!important;
}