/* You can add global styles to this file, and also import other style files */
@import '@taiga-ui/core/styles/taiga-ui-local.scss';



.main {
  padding: 0px 20px;
  border-radius: 5px;
  background-color: none!important;
}
.main h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 700 !important;
  letter-spacing: 1px;
  padding: 10px 15px 10px 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
